name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '10,20,30,40,50 * * * *'

permissions:
  actions: write
  checks: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Settings
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install numpy==1.26.4
          pip install cartopy
          pip install metpy
          pip install matplotlib
          pip install pandas
          pip install datetime
          pip install pygrib
          pip install netCDF4
          export PATH=$PATH:/opt/hostedtoolcache/Python/3.10.13/x64/lib/python3.10/site-packages:/home/runner/.local/lib/python3.10/site-packages

      - name: Plotting
        env:
          PTree_ID: ${{ secrets.PTree_ID }}
          PTree_Pass: ${{ secrets.PTree_Pass }}
        run: |
          git rm ./*.png
          git rm ./*.csv
          python amedasplot.py

      - name: Commit and Push Changes
        id: git_changes
        run: |
          git diff --quiet || echo "::set-output name=changes::yes"
          echo ${{ secrets.TOKEN }}
          echo "https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}"
          git remote set-url origin https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          mv ./*.png latest/ 
          git add latest/*.png
          git add "*.csv"
          git diff --cached --quiet || git commit -m "Add Pictures"
          git push origin main

