name: Process Data

on:
  schedule:
    - cron: '*/3 * * * *'

permissions:
  actions: write
  checks: write
  contents: write

jobs:
  process_data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Calculate UTC time
        id: calculate_time
        run: |
          current_time=$(date -u +"%s")
          rounded_time=$(($current_time / 3600 * 3600))
          formatted_time=$(date -u -d @"$rounded_time" +'%Y%m%d%H')
          echo "::set-output name=utc_time::$formatted_time"

      - name: Process data
        run: |
          pip install requests
          python synop.py "${{ steps.calculate_time.outputs.utc_time }}"

      - name: Add changes to git
        run: |
          echo ${{ secrets.TOKEN }}
          echo "https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}"
          git remote set-url origin https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add "*.csv"
          git diff --cached --quiet || git commit -m "Add processed data"
          git push origin main
